<a name="about" id="about"></a><h2>Welcome</h2>
<%= render 'about' %>
<a name="resume" id="resume"></a><h2>Resume</h2>
<%= render 'shared/resume' %>
<a name="projects" id="projects"></a><h2>Projects</h2>
<%= render 'projects/index' %>
<a name="blog" id="blog"></a><h2>Blog</h2>
<%= render 'posts/index' %>
<a name="social" id="social"></a><h2>Social</h2>
<%= render 'shared/social' %>
