<a name="about"><h2>Welcome</h2></a>
<%= render 'about' %>
<a name="resume"><h2>Resume</h2></a>
<%= render 'shared/resume' %>
<a name="projects"><h2>Projects</h2></a>
<%= render 'projects/index' %>
<a name="blog"><h2>Blog</h2></a>
<%= render 'posts/index' %>
<a name="social"><h2>Social</h2></a>
<%= render 'shared/social' %>
