<a name="about" id="about"></a><h2>Welcome</h2>
<%= render 'about' %>
<%= render 'projects/index' %>
<%= render 'posts/index' %>
<%= render 'shared/resume' %>
<a name="social" id="social"></a><h2>Social</h2>
<%= render 'shared/social' %>
