<div id="projects-container">
  <a name="projects" id="projects"></a><h2 id="projects-header">PROJECTS</h2>
  <div id="projects-carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#projects-carousel" data-slide-to="0" class="active"></li>
      <% $corey.projects[1..$corey.projects.length].each do |project| %>
      <li data-target="#projects-carousel" data-slide-to= <%= $corey.projects.index(project) %>></li>
      <% end %>
    </ol>
    <!-- carousel items -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= link_to image_tag($corey.projects[0].image), "#", {"data-toggle": "modal", "data-target": "#projectModal", href: project_path($corey.projects[0])} %>
        <div class="carousel-caption">
          <h3><%= $corey.projects[0].title %></h3>
          <p><%= $corey.projects[0].description %></p>
        </div>
      </div>
      <% $corey.projects[1..$corey.projects.length].each do |project| %>
      <div class="item">
        <%= link_to image_tag(project.image), project_path(project), {"data-toggle": "modal", "data-target": "#projectModal", href: project_path(project)} %>
        <div class="carousel-caption">
          <h3><%= project.title %></h3>
          <p><%= project.description %></p>
        </div>
      </div>
      <% end %>

    </div>
    <!-- carousel arrows -->
    <a class="left carousel-control" href="#projects-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#projects-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- modal -->

  <div class="modal fade" id="projectModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>

</div>