<div id="project" class="container">
  <h2><%= @project.title %> - <%= @project.date %> </h2>
  <h4> <%= link_to @project.url, @project.url %> (Github - <%=link_to @project.github, @project.github%>)</h4>
  <body><%= @project.description %></body>
  <div id="project-button" class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>